<div id="menu-wrapper">
    <div id="menu">
        <ul>
            <li class="current_page_item">@Html.ActionLink("Pocetna", "Index", "Home")</li>
            <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
            <li>@Html.ActionLink("Galerija", "Galerija", "Home")</li>
            <li>@Html.ActionLink("O nama", "About", "Home")</li>
            <li>@Html.ActionLink("Registracija", "Igre", "Home")</li>

        </ul>
    </div>
    

</div>
